<div class="row home blue">
  <div class="center">
    <h4 class="title white">
      WORK TIME <br />
    </h4>
    <h5 class="subtitle white-text">
      Controler seus horarios de trabalho
    </h5>
    <h5 class="subtitle2 white">
      Rápido e fácil
      <i class="material-icons home-icon">timer</i>
    </h5>
    
  </div>
</div>
